obj/
libs/GLAD/obj
libs/GLFW/obj
libs/GLFW/build
src/temp_assets_src/
test_report.txt
tests.exe
static/
slim/
gdi32obj/

tools/sourcify-obj/obj_files/
tools/sourcify-obj/output/

tools/sourcify-obj/bin/
tools/sourcify-png/bin/
tools/validate-glsl/bin/
tools/sourcify-glsl/bin/
tools/sourcify-obj/test_report.txt